MapReduce/ResultFiles/*
*.class
MapReduce/IntermediateFiles/*
MapReduce/ChunkInputFiles/*
MapReduce/MapReduce/bin/*

*.class

*.class

*.class

MapReduce/bin/mapreduce/Master.class

MapReduce/bin/mapreduce/MapReduce.class

MapReduce/bin/mapreduce/GlobalInfo.class

MapReduce/bin/jobcontrol/JobInfo.class

MapReduce/bin/example/WordCounter.class

MapReduce/bin/mapreduce/Reducer.class

*.class

MapReduce/bin/mapreduce/Slave.class

MapReduce/bin/network/Listen.class

MapReduce/bin/network/MsgHandler.class

*.class
